<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zs_managment">

    <!-- Lazımi icazələr -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        tools:replace="android:label"
        android:label="ZS-Control"
        android:icon="@mipmap/ic_launcher"
        android:launchMode="singleTop"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:exported="true">

        <!-- Tema -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />

        <!-- Firebase API açarı -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALHmqGzyWm1Y2D0zGRFbhNUh_pJOApTc0" />

        <!-- Firebase bildiriş kanal ID -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tətbiqin işə salınması -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Bildirişlər üçün intent -->
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- BackgroundGeolocation Xidmətləri -->
        <service
            android:name="com.transistorsoft.locationmanager.BackgroundGeolocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|dataSync" />

        <service
            android:name="com.transistorsoft.locationmanager.HeartbeatService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.transistorsoft.locationmanager.HeartbeatService.ACTION_HEARTBEAT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.transistorsoft.locationmanager.receiver.HeartbeatBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.transistorsoft.locationmanager.HeartbeatBroadcastReceiver.ACTION_RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- Flutter Tətbiqi üçün Gerekli Metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
